body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    animation: color-fade 10s infinite ease-in-out;
}

@keyframes color-fade {
    0% {
        background-color: #000;
    }
    45% {
        background-color: #fff;
    }
    46% {
        background-color: #f00;
    }
    50% {
        background-color: #00f;
    }
    55% {
        background-color: #ff0;
    }
    95% {
        background-color: #000;
    }
    100% {
        background-color: #000;
    }
}
